@import url(./__container/comments__container.css);
@import url(./__comment/comments__comment.css);
@import url(./__image/comments__image.css);
@import url(./__quote/comments__quote.css);
@import url(./__author/comments__author.css);

.comments {
  margin: 6.375rem auto 0; /*102*/
  max-width: 928px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media all and (min-width : 1264px) {
  /* стили для больших мониторов с разрешением 4K */
  .comments {
    max-width: 1184px;
  }
}

/*=== 1024 ===*/

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .comments {
    max-width: 660px;
  }
}

@media all and (max-width : 767px) { /*464 -> 767*/
  /* телефоны */
  .comments {
    margin-top: 4rem; /*64*/
    max-width: 343px;
  }
}

@media all and (max-width : 374px) { /*336 -> 374*/
  /* телефоны */
  .comments {
    max-width: 288px;
  }
}
