@import url(./__item/photo-grid__item.css);

.photo-grid {
  /* сетка */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*300*/
  grid-template-rows: repeat(4, minmax(200px, 1fr)); /*200*/
  grid-row-gap: 14px;
  grid-column-gap: 14px;
  /* параметры блока */
  max-width: 928px;
  margin: 6.375rem auto 0; /*102px*/
}


@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .photo-grid {
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr); /*284*/
    grid-template-rows: repeat(3, minmax(188px, 1fr)); /*188*/
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
}

/* === 1024 === */


@media all and (max-width : 1000px) { /*784 -> 1000*/
  /* стили для планшета */
  .photo-grid {
    margin-top: 6rem; /*96px*/
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr); /*352*/
    grid-template-rows: repeat(6, minmax(234px, 1fr)); /*234*/
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
}

@media all and (max-width : 750px) { /* 464 -> 750 */
  /* телефоны */
  .photo-grid {
    margin-top: 4rem; /*64px*/
    max-width: 343px;
    grid-template-columns: repeat(1, 1fr); /*343*/
    grid-template-rows: repeat(12, minmax(232px, 1fr)); /*232*/
    grid-column-gap: 0px;
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .photo-grid {
    max-width: 288px;
    grid-template-columns: repeat(1, 1fr); /*288*/
    grid-template-rows: repeat(12, minmax(192px, 1fr)); /*192*/
    grid-row-gap: 8px;
  }
}
