@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin: 0;
  margin-top: 6.375rem; /*102px*/
  margin-left: 3rem; /*48*/
  margin-right: 3rem; /*48*/
  /* сетка */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem; /*16px*/
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media all and (min-width : 1424px) {
  /* стили для больших мониторов с разрешением 4K */
  .photo-grid {
    margin-left: 8rem; /*128*/
    margin-right: 8rem; /*128*/
  }
}

/* === 1024 === */

@media all and (max-width : 784px) {
  /* стили для планшета */
  .photo-grid {
    margin-top: 6rem; /*96px*/
    margin-left: 1.5rem; /*24*/
    margin-right: 1.5rem; /*24*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .photo-grid {
    margin-top: 4rem; /*64px*/
    margin-left: 1rem; /*16*/
    margin-right: 1rem; /*16*/
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .photo-grid {
    grid-gap: 0.5rem; /*8px*/
  }
}
