@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__url/places__url.css);
@import url(./__image/places__image.css);
@import url(./__paragraphs/places__paragraphs.css);
@import url(./__paragraph/places__paragraph.css);

.places {
  margin: 0;
  margin-top: 6.375rem; /*102px*/
  margin-left: 3rem; /*48px*/
  margin-right: 3rem; /*48px*/

  display: grid;
  grid-row-gap: 4.5rem; /*72px*/
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .places {
    margin-top: 5.75rem; /*92*/
    margin-left: 9.25rem; /*148*/
    margin-right: 9.25rem; /*148*/
  }
}

@media all and (min-width : 1424px) {
  /* стили для больших мониторов с разрешением 4K */
  .places {
    margin-left: 14.25rem; /*228*/
    margin-right: 14.25rem; /*228*/
  }
}

/*=== 1024 ===*/


@media all and (max-width : 784px) {
  /* стили для планшета */
  .places {
    margin-top: 6.375rem; /*102*/
    margin-left: 1.5rem; /*24*/
    margin-right: 1.5rem; /*24*/
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .places {
    margin-top: 4rem; /*64*/
    margin-left: 0; /*0*/
    margin-right: 0; /*0*/
    grid-row-gap: 3rem; /*48*/
  }
}
