@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__url/places__url.css);
@import url(./__image/places__image.css);
@import url(./__paragraphs/places__paragraphs.css);
@import url(./__paragraph/places__paragraph.css);

.places {
  margin: 0;
  margin-top: 6.375rem; /*102px*/
  margin-left: 3rem; /*48px*/
  margin-right: 3rem; /*48px*/

  display: grid;
  grid-row-gap: 4.5rem; /*72px*/
}
