@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__url/places__url.css);
@import url(./__image/places__image.css);
@import url(./__paragraphs/places__paragraphs.css);
@import url(./__paragraph/places__paragraph.css);

.places {
  margin: 6.375rem auto 0; /*102px*/
  max-width: 928px;
  display: grid;
  grid-row-gap: 4.5rem; /*72px*/
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .places {
    margin-top: 5.75rem; /*92*/
    max-width: 984px;
  }
}

/*=== 1024 ===*/

@media all and (max-width : 1000px) { /*дополнительный брейкпоинт*/
  /* стили для планшета */
  .places {
    max-width: 900px;
  }
}

@media all and (max-width : 900px) { /*дополнительный брейкпоинт*/
  /* стили для планшета */
  .places {
    max-width: 800px;
  }
}

@media all and (max-width : 784px) {
  /* стили для планшета */
  .places {
    margin-top: 6.375rem; /*102*/
    max-width: 720px;
  }
}

@media all and (max-width : 750px) { /*дополнительный брейкпоинт*/
  /* телефоны */
  .places {
    max-width: 375px;
  }
}

@media all and (max-width : 616px) { /* замена 464px на 616px */
  /* телефоны */
  .places {
    margin-top: 4rem; /*64*/
    max-width: 375px;
    grid-row-gap: 3rem; /*48*/
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .places {
    max-width: 320px;
  }
}
