.places__url {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: #FFFFFF;
}

.places__url:hover {
  color: #FFFFFF;
  text-decoration-line: underline;
}

.places__url:link {
  color: #FFFFFF;
}

.places__url:visited {
  color: #FFFFFF;
}
