.places__url {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: #FFFFFF;
  /*выравниваем содержимое*/
  justify-items: start;
  align-items: end;
}

.places__url:hover {
  color: #FFFFFF;
  text-decoration-line: underline;
}

.places__url:link {
  color: #FFFFFF;
}

.places__url:visited {
  color: #FFFFFF;
}

@media all and (max-width : 616px) { /* замена 464px на 616px */
  /* телефоны */
  .places__url {
    font-size: 0;
  }
}
