.comments__comment {
  margin: 0;
  font-size: 0;
  display: grid;
  /**/
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 0;
  grid-template-areas:
    "c_image"
    "c_quote"
    "c_author";
  /**/
  justify-items: start; /*center*/
}

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .comments__comment {
    grid-template-areas:
      "c_image"
      "c_author"
      "c_quote";
    justify-items: center;
  }
}
