.places__image {
  margin: 0;
  grid-area: image;
  width: 100%;
}

@media all and (max-width : 616px) { /* замена 464px на 616px */
  /* телефоны */
  .places__image {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}
