.header__lang {
  font-style: normal;
  font-weight: normal; /* начертание */
  font-size: 1.5rem; /* размер шрифта 24px */
  line-height: calc(1.5rem - 1px); /* высота строки 23px */
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  border-bottom: 2px #2A2C2F solid;
  color: #FFFFFF;
}

.header__lang:nth-of-type(1) {
  margin-right: 18px;
}

.header__lang:link {
  color: #FFFFFF;
  border-bottom: 2px #2A2C2F solid;
}

.header__lang:visited {
  color: #FFFFFF;
  border-bottom: 2px #2A2C2F solid;
}

.header__lang:hover {
  color: #FFFFFF;
  border-bottom: 2px #FFFFFF solid;
}

@media all and (max-width : 375px) {
  .header__lang {
    font-size: 1.125rem; /* размер шрифта 18px */
    line-height: calc(1.125rem - 1px); /* высота строки 17px */
    border-bottom: 1px;
  }
}
