.header__lang {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: stretch;
}

.header__lang:nth-of-type(1) {
  margin-right: 1.125rem; /*18*/
}

@media all and (max-width : 464px) {
  /* телефоны */
  .header__lang:nth-of-type(1) {
    margin-right: 1rem;
  }
}
