.comments__container {
  margin: 0;
  margin-top: 4.5rem; /*72*/

  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: minmax(min-content, max-content);
  grid-column-gap: 1.1875rem; /*19*/
  align-items: stretch;
}

@media all and (max-width : 784px) {
  /* стили для планшета */
  .comments__container {
    grid-template-columns: fit-content(23.875rem); /*382*/
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-row-gap: 3rem; /*48*/
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .comments__container {
    margin-top: 3rem; /*48*/
    grid-template-columns: minmax(min-content, max-content);
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .comments__container {
    margin-top: 2.5rem; /*40*/
  }
}
