.comments__container {
  margin: 0;
  margin-top: 72px; /*72*/

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 19px; /*19*/
  align-items: stretch;
}

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .comments__container {
    grid-template-columns: 382px;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 48px; /*48*/
  }
}

@media all and (max-width : 767px) { /*464 -> 767*/
  /* телефоны */
  .comments__container {
    margin-top: 48px; /*48*/
    grid-template-columns: 1fr;
  }
}

@media all and (max-width : 374px) { /*336 -> 374*/
  /* телефоны */
  .comments__container {
    margin-top: 40px; /*40*/
  }
}
