@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  margin: 48px auto 0;
  max-width: 928px;
  /* параметры флекс-контейнера */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .lead {
    max-width: 985px;
  }
}

/* 1024 */

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .lead {
    max-width: 768px;
  }
}

@media all and (max-width : 767px) { /*375 -> 767*/
  /* телефоны */
  .lead {
    max-width: 520px; /*375*/
  }
}

@media all and (max-width : 519px) {
  /* телефоны */
  .lead {
    max-width: 375px;
  }
}

@media all and (max-width : 374px) { /*320 -> 374*/
  /* телефоны */
  .lead {
    max-width: 320px;
  }
}
