.cover__subtitle {
  max-width: 23.875rem; /*382*/
  margin: 0;
  padding-bottom: 48px;
  max-width: 382px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem; /*18*/
  line-height: 1.625rem; /*26*/
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .cover__subtitle {
    padding-bottom: 40px;
  }
}

@media all and (max-width : 767px) { /*464 -> 767*/
  /* телефоны */
  .cover__subtitle {
    padding-bottom: 24px;
    max-width: 343px;
    font-size: 0.875rem; /*14*/
    line-height: 1.0625rem; /*17*/
  }
}

@media all and (max-width : 374px) { /*336 -> 374*/
  /* телефоны */
  .cover__subtitle {
    max-width: 288px;
  }
}
