@import url(./__container/video__container.css);
@import url(./__item/video__item.css);
@import url(./__item-bg/video__item-bg.css);
@import url(./__icon_play/video__icon_play.css);
@import url(./__duration/video__duration.css);
@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);

.video {
  margin: 0;
  margin-top: 6.375rem; /*102*/
  margin-left: 3rem; /*48*/
  margin-right: 3rem; /*48*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media all and (min-width : 1424px) {
  /* стили для больших мониторов с разрешением 4K */
  .video {
    margin-left: 8rem; /*128*/
    margin-right: 8rem; /*128*/
  }
}

/*=== 1024 ===*/


@media all and (max-width : 784px) {
  /* стили для планшета */
  .video {
    margin-left: 1.5rem; /*24*/
    margin-right: 1.5rem; /*24*/
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .video {
    margin-top: 4rem; /*64*/
    margin-left: 1rem; /*16*/
    margin-right: 1rem; /*16*/
  }
}
