.header__logo {
  height: 100%;
  max-width: 11.03625rem; /*176.58*/
}

/*=== 1024 ===*/

@media all and (max-width : 464px) {
  /* телефоны */
  .header__logo {
    max-width: 8.875rem; /*142*/
  }
}
