@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_decoration/header__lang_decoration_line.css);

.header {
  /* Основной код для разрешения 1024px */
  width: calc(100% - (48 * 2));
  height: 52px;
  margin: 0 auto; /* отцентрировали весь контент */
  /* background-color: #E5E5E5;  */
  background-color: #2A2C2F;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media all and (min-width : 1440px) {
  /* стили для больших мониторов с разрешением 4K */
  .header {
    width: calc(100% - (128px * 2));
    /* так как "порог" максимальной ширины 1280px */
    height: 52px;
  }
}
@media all and (max-width : 1280px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .header {
    width: calc(100% - (48px * 2));
    height: 52px;
  }
}
@media all and (max-width : 768px) {
  /* стили для планшета */
  .header {
    width: calc(100% - (24px * 2));
    height: 52px;
  }
}
@media all and (max-width : 375px) {
  /* стили для среднего смартфона */
  .header {
    width: calc(100% - (16px * 2));
    height: 42px;
  }
}
@media all and (max-width : 320px) {
  /* стили для малого смартфона */
  .header {
    width: calc(100% - (16px * 2));
    height: 42px;
  }
}
