@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);
@import url(./__label-lang/header__label-lang.css);
@import url(./__select-lang/header__select-lang.css);
@import url(./__pseudo-item/header__pseudo-item.css);

.header {
  /* Основной код для разрешения 1024px */
  height: 3.25rem; /*52*/
  margin: 0 3rem 0 3rem; /* правый и левый отступы 48 */
  background-color: #2A2C2F;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media all and (min-width : 1424px) {
  /* стили для компьютеров и ноутбуков */
  .header {
    margin-left: 8rem; /*128*/
    margin-right: 8rem;
  }
}

@media all and (max-width : 784px) {
  /* стили для планшета */
  .header {
    margin-left: 1.5rem; /*24*/
    margin-right: 1.5rem;
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .header {
    margin-left: 1rem; /*16*/
    margin-right: 1rem;
    height: 2.625rem; /*42*/
  }
}
