.video__item {
  display: block;
  background-size: cover;
  background-position: center;
  background-image: url(../../../../images/Image-kamchatka-b.png);

  border-radius: 5px;
  text-decoration: none;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.video__item:hover .video__overlay {
  background-color: #000000;
  opacity: 0.5;
}
