.intro__content-row {
  margin: 0;
  margin-top: 3rem; /*48px*/
  text-align: left;
  max-width: 43.75rem; /*700px*/

  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem; /*14px*/
  line-height: 1.5rem; /*24px*/
  color: #FFFFFF;
}

@media all and (max-width : 464px) {
  /* телефоны */
  .intro__content-row {
    font-size: 1rem; /*16px*/
    line-height: 1.6875rem; /*27px*/
    margin-top: 2rem; /*32px*/
  }
}
