.footer__link {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem; /*24*/
  line-height: 2.5625rem; /*41*/
  color: #FFFFFF;
  text-decoration: none;
  /*расположение текста левый нижний угол*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer__link:hover {
  color: #FFFFFF;
  /* ссылка при наведении мыши плавно становиться немного прозрачной */
  opacity: 0.7;
  transition: opacity 1s ease;
}

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .footer__link {
    font-size: 1rem; /*16*/
    line-height: 1.6875rem; /*27*/
  }
}

@media all and (max-width : 767px) { /*464 (660) -> 767*/
  /* телефоны */
  .footer__link {
    font-size: 1.5rem; /*24*/
    line-height: 2.5625rem; /*41*/
  }
}
