.footer__link {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 41px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover {
  color: #FFFFFF;
  /* ссылка при наведении мыши плавно становиться немного прозрачной */
  opacity: 0.7;
  transition: opacity 1s ease;
}
