.video__duration {
  z-index: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0;
  color: #FFFFFF;
  margin: 0;
  padding-top: 54px;
  padding-left: 30px;
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .video__duration {
    padding-top: 94px;
  }
}


/*=== 1024 ===*/


@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .video__duration {
    padding-top: 17px;
    padding-left: 24px;
  }
}

@media all and (max-width : 374px) { /*336 -> 374*/
  /* телефоны */
  .video__duration {
    padding-top: 23px;
    padding-left: 16px;
  }
}
