.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  /*расположение текста правый нижний угол*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

@media all and (max-width : 464px) {
  /* телефоны */
  .footer__copyright {
    margin-top: 3rem; /*48*/
    justify-content: flex-start;
  }
}
