.lead__image {
  /* решение Netflix */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 28px);
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .lead__image {
    width: calc(100% - 1px);
  }
}

/*=== 1024 ===*/

@media all and (max-width : 464px) { /*464*/
  /* телефоны */
  .lead__image {
    height: calc(100% - 20px);
  }
}
