.intro__text {
  list-style-type: none; /* Убираем маркеры */
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem; /*13px*/
  line-height: 1.25rem; /*20px*/
  color: #FFFFFF;
}

@media all and (max-width : 464px) {
  /* телефоны */
  .intro__text {
    font-size: 0.75rem; /*12px*/
    line-height: 1.1875rem; /*19px*/
  }
}
