@import url(./__title/intro__title.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text-block/intro__text-block.css);
@import url(./__text/intro__text.css);
@import url(./__text-bold/intro__text-bold.css);

.intro {
  margin: 0;
  margin-top: 5rem; /* 80px */
  margin-left: 3rem; /* 48px */
  margin-right: 3rem; /* 48px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .intro {
    margin-left: 9.25rem; /* 148px */
    margin-right: 9.25rem; /* 148px */
  }
}

@media all and (min-width : 1424px) {
  /* стили для больших мониторов с разрешением 4K */
  .intro {
    margin-left: 14.25rem; /* 228px */
    margin-right: 14.25rem; /* 228px */
  }
}

/* === 1024 === */

@media all and (max-width : 784px) {
  /* стили для планшета */
  .intro {
    margin-left: 1.5rem; /* 24px */
    margin-right: 1.5rem; /* 24px */
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .intro {
    margin-top: 4rem; /* 64px */
    margin-left: 1rem; /* 16px */
    margin-right: 1rem; /* 16px */
  }
}

