@import url(./__title/intro__title.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text-block/intro__text-block.css);
@import url(./__text/intro__text.css);
@import url(./__text-bold/intro__text-bold.css);

.intro {
  margin: 5rem auto 0; /* 80px */
  max-width: 928px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .intro {
    max-width: 984px;
  }
}

/* === 1024 === */

@media all and (max-width : 1000px) { /*промежуточный брейк-поинт*/
  /* стили для планшета */
  .intro {
    max-width: 900px;
  }
}

@media all and (max-width : 900px) { /*промежуточный брейк-поинт*/
  /* стили для планшета */
  .intro {
    max-width: 800px;
  }
}

@media all and (max-width : 784px) {
  /* стили для планшета */
  .intro {
    max-width: 720px;
  }
}

@media all and (max-width : 750px) { /*промежуточный брейк-поинт*/
  /* стили для планшета */
  .intro {
    max-width: 620px;
  }
}

@media all and (max-width : 650px) { /*промежуточный брейк-поинт*/
  /* стили для планшета */
  .intro {
    max-width: 520px;
  }
}

@media all and (max-width : 550px) { /*промежуточный брейк-поинт*/
  /* стили для планшета */
  .intro {
    max-width: 420px;
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .intro {
    margin-top: 4rem; /* 64px */
    max-width: 343px;
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .intro {
    max-width: 288px;
  }
}

