.page {
  /* Основной код для разрешения 1024px */
  margin: 0 auto; /* отцентрировали весь контент */
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #E5E5E5;
  padding-top: 30px;
}

@media all and (max-width : 375px) {
  .page {
    padding-top: 16px;
  }
}

/*
div {
    border: 1px red solid;
}
*/
