.video__item_name_observatory {
  background-size: cover;
  background-position: center;
  background-image: url(../../../../images/Image-observatorya-b.png);
}

.video__item_name_observatory:hover .video__overlay {
  background-color: #000000;
  opacity: 0.5;
}
