.lead__subtitle {
  margin: 0;
  margin-top: 2.875rem; /* 46px */
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem; /* 30px */
  line-height: 1.2; /* 36px */
  text-align: center;
  color: #FFFFFF;
}
