@import url(./__cover-bg/cover__cover-bg.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  margin: 0;
  margin-top: 102px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.cover:hover .cover__cover-bg {
  background: #2A2C2F;
  opacity: 0.3;
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .cover {
    margin-left: 3rem; /*48*/
    margin-right: 3rem;
  }
}

@media all and (min-width : 1424px) {
  /* стили для больших мониторов с разрешением 4K */
  .cover {
    margin-left: 8rem; /*128*/
    margin-right: 8rem;
  }
}

/*=== 1024 ===*/


@media all and (max-width : 464px) {
  /* телефоны */
  .cover {
    margin-top: 3rem; /*48*/
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .cover {
    margin-top: 4rem; /*64*/
  }
}
