.comments__quote {
  margin: 0;
  margin-top: 42px; /*42*/
  max-width: 296px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem; /*14*/
  line-height: 1.5rem; /*24*/
  color: #FFFFFF;
  /**/
  grid-area: c_quote;
  /**/
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .comments__quote {
    max-width: 382px;
  }
}

/*=== 1024 ===*/

@media all and (max-width : 784px) {
  /* стили для планшета */
  .comments__quote {
    margin-top: 1.5rem; /*24*/
  }
}
