.video__subtitle {
  margin: 0;
  position: absolute;
  bottom: 10%; /*35/288*/
  left: 6.58%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}
