.lead__caption {
  margin: 0;
  margin-top: 1rem; /* 16px */
  font-style: normal;
  font-weight: normal;
  font-size: 0.626rem; /* 10px */
  line-height: 1.2; /* 12px */
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  align-self: flex-start;
}

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .lead__caption {
    margin-left: 1.5rem; /*24*/
  }
}

@media all and (max-width : 767px) { /*464 -> 767*/
  /* стили для среднего смартфона */
  .lead__caption {
    margin-top: 0.5rem; /* 8px */
    margin-left: 1rem;  /* 16px */
  }
}
