/*=== 1024 ===*/

@media all and (max-width : 784px) {
  /* стили для планшета */
  .video__duration_position_exception {
    padding-top: 36px;
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .video__duration_position_exception {
    padding-top: 41px;
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .video__duration_position_exception {
    padding-top: 49px;
  }
}
