@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-line/footer__link-line.css);

.footer {
margin: 10rem auto 0; /* 160px 48px 0 48px */
max-width: 929px;
padding-bottom: 3rem; /* 48px */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;
}

@media all and (min-width : 1264px) {
  /* стили для больших мониторов с разрешением 4K */
  .footer {
    max-width: 1184px;
  }
}

/*=== 1024 ===*/

@media all and (max-width : 1023px) { /*784 -> 1023*/
  /* стили для планшета */
  .footer {
    margin-top: 6.375rem; /* 102px 23px 0 23px */
    max-width: 722px;
    padding-bottom: 1.5rem; /* 24px */
  }
}

@media all and (max-width : 767px) { /*464 (660) -> 767*/
  /* телефоны */
  .footer {
    margin-top: 4rem; /* 64px 16px 0 16px */
    max-width: 343px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media all and (max-width : 374px) { /*336 -> 374*/
  /* стили для планшета */
  .footer {
    max-width: 288px;
  }
}
