@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
margin: 160px 48px 0 48px;
padding-bottom: 48px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;
}
