.places__website {
  margin: 0;
  grid-area: website;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 16px;
  /*выравниваем всю сетку по нижнему краю*/
  justify-content: start;
  align-content: end;
}

@media all and (max-width : 750px) { /* замена 464px на 750px */
  /* телефоны */
  .places__website {
    display: none;
  }
}
