.places__url-heading {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  /*выравниваем содержимое*/
  justify-items: start;
  align-items: end;
}

@media all and (max-width : 616px) { /* замена 464px на 616px */
  /* телефоны */
  .places__url-heading {
    font-size: 0;
    margin: 0;
  }
}
