.places__url-heading {
  margin: 0;
  margin-bottom: 1rem; /*отступ снизу*/
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media all and (max-width : 616px) { /* замена 464px на 616px */
  /* телефоны */
  .places__url-heading {
    font-size: 0;
  }
}
