.content-title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem; /*72*/
  line-height: 4.875rem; /*78*/
  text-align: center;
  color: #FFFFFF;
  max-width: 47rem;
}

@media all and (min-width : 1264px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .content-title {
    max-width: 50rem;
  }
}

@media all and (max-width : 784px) {
  /* стили для планшета */
  .content-title {
    font-size: 2.625rem; /*42*/
    line-height: 2.875rem; /*46*/
    max-width: 38rem;
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .content-title {
    font-size: 2rem; /*32*/
    line-height: 2.1875rem; /*35*/
    max-width: 21.4375rem;
  }
}

@media all and (max-width : 336px) {
  /* телефоны */
  .content-title {
    max-width: 18rem;
  }
}
