.content-title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem; /*72*/
  line-height: 4.875rem; /*78*/
  text-align: center;
  color: #FFFFFF;
}

@media all and (max-width : 784px) {
  /* стили для планшета */
  .content-title {
    font-size: 2.625rem; /*42*/
    line-height: 2.875rem; /*46*/
  }
}

@media all and (max-width : 464px) {
  /* телефоны */
  .content-title {
    font-size: 2rem; /*32*/
    line-height: 2.1875rem; /*35*/
  }
}
