.intro__title {
  margin: 0;
  text-align: left;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem; /*54px*/
  line-height: 1.093; /*59px*/
  color: #FFFFFF;
}

@media all and (max-width : 464px) {
  /* телефоны */
  .intro__title {
    font-size: 2rem; /*32px*/
    line-height: 1.094; /*35px*/
  }
}
